.addBtn {
    cursor: pointer;
    position: fixed;
    display: block;
    padding: 10px 20px;
    line-height: 20px;
    right: 80px;
    bottom: 80px;
    font-size: 24px;
    background: #000;
    border-radius: 25px;
    border: 1px solid white;
    z-index: 200;
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .addBtn:hover{
    transform: scale(1.02);
  }