.addBtn {
    cursor: pointer;
    position: fixed;
    display: block;
    padding: 10px 20px;
    line-height: 20px;
    right: 80px;
    bottom: 80px;
    font-size: 24px;
    background: #000;
    border-radius: 25px;
    border: 1px solid white;
    z-index: 200;
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .addBtn:hover{
    transform: scale(1.02);
  }
  .deleteCont{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 300px;
  }
  .actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .actions span{
    user-select: none;
    cursor: pointer;
  }